.slide
  h1 Node

  p What is node?
.slide
  h1 It's JavaScript

  p Capitalizes on a non-blocking event model framework
.slide
  h1 Event Model

  p From Java, object.setOnClickListener

  p Javascript, object.on('click', function(src_object, param){ console.log(src_object); })

.slide
  h1 Callback programming

  p Callbacks are functions that are passed around as parameters that execute on certain events.

